@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Wet+Paint&display=swap');

:root {
    --fonte-primaria: "Rubik Wet Paint", system-ui;
    --fonte-texto: "Playfair Display", serif;
    --Vermelho-claro: rgb(199, 39, 191);
    --Vermelho: rgb(181, 120, 184);
    --Vermelho-Sangue: rgb(228, 111, 130);
    --Vermelho-escuro: rgb(236, 148, 148);
    --Preto-bean: rgb(112, 57, 117);
    --Preto-bean-2: #290000ff;
    --Preto: #000000;
    --Branco: #f1f1f1;
}

body{
    background-color: var(--Vermelho);
    color: var(--Branco);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: italic;
    
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    font-family: var(--fonte-primaria);
    text-align: left;
    width: 100%;
    font-size: 36px;
}

span{
    color: var(--Vermelho-claro);
}

.botao{
    font-family: var(--fonte-primaria);
    background-color: var(--Preto-bean);
    color: var(--Branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    width: 100%;
    border-bottom: 4px solid var(--Preto-bean-2);
    border-left: 4px solid var(--Preto-bean-2);
    border-right: 4px solid var(--Preto-bean-2);
    border-top: none;
}

.botoes{
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0px 0px 40px 40px;
}

.botao.ativo{
    background-color: var(--Vermelho-claro);
    border-bottom: var(--Preto-bean)
}
.abas-textos{
    background-color: var(--Preto-bean);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo{
    display: block;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
font-size: 28px;
text-align: center;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--Branco);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0 ;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0
    };
}
